@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body_dark {
    background-color: black;
}

.body_light {
    background-color: white;

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.dark_theme {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);

}

.light_theme {
    background-color: rgb(61, 79, 136);
    color: rgb(255, 255, 255);
}

.light_theme a {
    color: rgb(61, 79, 136);
}

.container {
    box-sizing: border-box;
}

.header {
    flex: 0 0 auto;
}

.header a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(61, 79, 136);
    transition: 0.3s;
    content: "";
}
.header a:hover::after {
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.menu_popup_icon:hover {
    cursor: pointer;
}

.button_close:hover {
    cursor: pointer;
}

.close {
    margin-top: -58px;
}

.open {
    margin-top: 0;
}

.header__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 350px;
    height: 57px;
    padding-left: 20px;
    z-index: 10;
    transition: 0.6s;
}

.dark_bcg {
    background-color: rgb(29, 29, 29);
}

@media(max-width: 550px) {
    .header__popup {
        width: 100%;
    }
}

.light_bcg {
    background-color: rgb(194, 194, 194);
}

.menu_popup__ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu_popup__li {
    margin-right: 30px;
    font-size: 18px;
}

@media(max-width: 550px) {
    .header_popup__ul {
        justify-content: center;
    }
}

.menu_popup__li img {
    width: 20px;
}

.header__light_theme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__light_theme p {
    margin-right: 10px;
}


.header__switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 18px;
}

.header__switch input {
    display: none;
}

.header__switch_slider {
    position: absolute;
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header__switch_slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(29, 29, 29);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.header input:checked + .header__switch_slider {
    background-color: rgb(218, 218, 218);
}

.header__switch input:checked + .header__switch_slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .header__switch_slider.header__switch_round {
    border-radius: 34px;
  }
  
  .header__switch_slider.header__switch_round:before {
    border-radius: 50%;
  }

.main {
    flex: 1 1 auto;
}

.main_dark {
    background-color: rgb(44, 44, 44);
}

.main_light {
    background-color: rgb(252, 252, 252);
}

  .footer {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__logo_img img {
    width: 60px;
    color: black;
    margin-top: 10px;
  }

  @media(max-width: 550px) {
    .footer__logo_img img {
        width: 40px;
    }
  }

.footer__text {
    font-size: 16px;
    text-align: center;
    align-self: center;
    line-height: 5px;
    font-style: italic;
}

@media(max-width: 550px) {
    .footer__text {
        font-size: 12px;
    }
  }

.footer__social {
    display: flex;
    align-content: center;
}

.footer__social_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0%;
    margin-bottom: 0;
    margin-top: 0;
}
.footer__social_ul li {
    margin-right: 20px;
    align-self: center;
}

@media(max-width: 550px) {
    .footer__social_ul li {
        margin-right: 5px;
    }
    .footer__social_ul li img {
        width: 20px;
    }
  }

.footer__social_ul li:last-of-type {
    margin-right: 0;
}
